body {
  position: relative;
}

#hero-section {
  background-image: linear-gradient(rgba(0,0,0,.65), rgba(0,0,0,.25)), url(https://i.imgur.com/6uKOn70.jpg);
  background-position: center;
  background-size: cover;
  background-color: #00b4cc;
  background-attachment: fixed;
  padding: clamp(100px, 20vh, 200px) 0;
}

#profile-img {
  margin: clamp(10px, 20vh, 10px) auto;
  background-image: url(https://i.imgur.com/ie9UgAJt.jpg);
  background-position: center;
  background-size: cover;
  border: 2px solid #00b4cc;
  border-radius: 80%;
  height: clamp(90px, 20vh, 200px);
  width: clamp(100px, 20vh, 200px);
} 

#profile-img:hover {
  transform: scale(1.5);
  transition-duration: 1s;
}

#hero-section h2 {
color: #00b4cc;
font-family: sans-serif;
text-align: center;
height: 100px 20vh 100px;
}

#hero-section h3 {
  color: #fc9f69;
  font-family: san-serif;
  text-align: center;
  font-size: 25px;
}

#mission-section {
  font-size: 20px;
}

img {
  height: clamp(200px, 50vw, 200px);
  margin: auto;
}

section {
  font-family: 'Oswald', sans-serif;
  background-color: rgb(22, 20, 20);
  padding: 50px 20vh 200px;
  display: inline-block;
  min-height: 50vh;
}

h3 {
  color: #00b4cc;
}

p {
  color: #fc9f69;
  text-align: center;
}

#skills-section img {
  left: 15px;
}

#photography-section img {
   height: clamp(100px, 20vw, 100px);
   height: auto;
   width: 80%;
}

#contact-section {
  font-size: 100px;
  display: inline-block;
  text-align: center;
}